
@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');



*{
box-sizing: border-box;
}
body{
margin: 0;
font-family: 'Roboto', sans-serif;
background-color: rgb(4, 4, 4);
color: rgb(238, 238, 238);
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
}
.pw-container{
display: flex;
flex-direction: column;
width: 30rem;
padding: 2rem;
font-size: 1.4rem;
background-color: rgb(16, 16, 16);
border: 1px solid white;

}
.pw-header{
padding: 1rem;
}
.pw{
width: 100%;
height: 60px;
display: flex;
align-items: center;
position: relative;
font-size: 1.5rem;
padding: 1rem;
background-color: rgb(28, 28, 28);
/* overflow: auto; */
}
.pw button{
font-family: 'Cousine', monospace;
position: absolute;
top: 0;
right: 0;
transform: translate(0, 50%);
transition: opacity 0.2s ease, transform 0.2s ease;
opacity: 0;
padding: 0.45rem 1rem;
font-family: inherit;
font-weight: bold;
background-color: rgb(60, 31, 123);
color: rgb(255, 255, 255);
border: none;
cursor: pointer;
}
.pw:hover button{
opacity: 1;
transform: translate(0,-80%);
}

.form-control{
display: flex;
justify-content: space-between;
margin: 0.75rem 0;
}
.generate{
background-color: rgb(4, 4, 4);
border: none;
color: rgb(238, 238, 238);
padding: 1rem;
font-size: 1rem;
font-weight: 700;
letter-spacing: 3px;
text-transform: uppercase;
width: 70%;
cursor: pointer;
}